---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-4xl font-bold text-center my-8 text-gray-800">Bienvenue sur le TP6</h1>
  <nav>
    <a href="/" class="text-blue-600 hover:underline">Accueil</a> | 
    <a href="/slider" class="text-blue-600 hover:underline">Slider</a>
  </nav>
</Layout>
